.products {

    display: flex;
    flex-direction: column;
    
    min-height: 100svh;
    padding: 1.5rem;
    
    gap: 1.5rem;

    .products__menu {

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        
    }

    .products__category-title {
        font-size: 2rem;
    }      

    .products__item {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .products__info {
            font-size: .8rem;
            font-weight: 600;

            .item__kind {
                font-size: .5rem;
                color: var(--rose-300);
            }

            .item__name {
                color: var(--rose-900);
            }

            .item__price {
                color: #BF613D;
                font-weight: 700;
            }
        }

        .products__sale-preview {
            position: relative;

            .product__image img {
                border-radius: .5rem;

            }

            .item__buttons-wrap {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                translate: 0 -50%;
            }

            .item__add-button {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                padding: .5rem 1.2rem;
                gap: .5rem;

                border: 1px solid var(--rose-300);
                border-radius: 2rem;

                background-color: #fff;

                font-size: .5rem;
                color: var(--rose-900);
                font-weight: 500;

                min-width: max-content;

            }

            .item__add-more-wrap {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 40%;
                padding: .4rem 0;
                color: white;

                background-color: var(--red);
                border-radius: 2rem;
            }

            .item__add-more {
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                border-radius: 50%;
                padding: .2rem;
                cursor: pointer;
                border: 1px solid white;
                aspect-ratio: 1;

                
                svg {
                    max-width: 80%;
                }
            }

        }

    }

    .products__cart {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: 2rem 1.5rem;

        background-color: #fff;

        .cart__title {
            color: var(--red);
        }

        .cart__placeholder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: .8rem;
            color: var(--rose-500);
            font-weight: 500;

        }

        .cart__items {
            display: flex;
            flex-direction: column;

            .item-name {
                color: var(--rose-900);
                
            }

            .cart__item-wrap {
                border-bottom: 1px solid var(--rose-100);
                padding-bottom: 1rem;
            }
            .cart__item-information {
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-template-columns: max-content 30px;
         
                .cart__prices {
                    display: flex;
                    gap: .5rem;
                }
                button {
                    justify-self: end;
                    border: none;
                    background: transparent;
                }
            }

            p {
                font-weight: 500;
            }

             .item__amount {
                color: var(--red);
             }  
             
             .item__unit-price {
                display: flex;
                gap: .3rem;

                color: var(--rose-500);

             }

             .item__total-price {
                color: var(--rose-500);
                font-weight: 700;
             }
        }

        .cart__order-total {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            color: var(--rose-500);
            font-weight: 500;
            
            p {
                font-size: .95rem;
            }

            .cart__total {
                color: var(--rose-900);
                font-weight: 900;
                font-size: 1.3rem;
            }
        }

        .cart__env-friendly {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: 1rem .8rem;

            background: var(--rose-100);
            color: var(--rose-500);
            font-weight: 500;

            p {
                font-size: clamp(.60rem, 1vw + 1rem, 1vw);
                
            }
           
            
            span {
                color: var(--rose-900);
                font-weight: 800;
               
            }

            svg {
                width: max(.6875rem, 1rem + 1vw);
            }
       
        }

        .cart__confirm-order {
            background: var(--red);
            color: var(--rose-100);
            font-weight: 500;
            padding: 1rem;
            border: none;
            border-radius: 2rem;
        }
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }